.root {
    background-color: #000;
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.header {
    height: 56px;
    margin-top: 28px;
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__logo {
    width: 103.74px;
    height: 24.4px;
    margin: 0 0 0 27px;
}

.header__line {
    opacity: 0.7;
    border-top: 1px solid #545454;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__image {
    height: 120px;
    border-radius: 50%;
    margin-bottom: 26px;

}

.profile__name-container {
    margin: 0 auto 33px auto;
}

.profile__name {
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 7px;
    margin-left: 27px;
    margin-right: 6px;
    display: inline-block;
}

.profile__edit-button {
    width: 18px;
    height: 19px;
    border: 1px solid #FFFFFF;
    background: transparent;
    background-image: url(./images/profile-pen.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7.5px;
    display: inline-block;
    padding: 0;
}

.profile__job {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
}

.profile__add-button {
    width: 282px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    margin-bottom: 36px;
    background: transparent;
    background-image: url(./images/profile-cross.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
}

.profile__cross-image {
    width: 16px;
}

.gallery {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 282px;
    justify-content: center;
    row-gap: 20px;
}

.gallery__card {
    list-style: none;
    border-radius: 10px;
    overflow: hidden;
    line-height: 0;
}

.gallery__image {
    width: 100%;
}

.gallery__caption {
    background-color: #fff;
    height: 79px;
    display: flex;
    justify-content: center;
}

.gallery__name {
    display: flex;
    width: 240px;
    justify-content: space-between;
}

.gallery__text {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    /* Чтобы длинный текст не налезал на лайк ограничим макс ширину */
    max-width: 210px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.gallery__like_disabled {
    background-image: url(./images/gallery-like_disabled.svg);
    background-repeat: no-repeat;
    width: 22px;
    background-position: center;
}













/* @media screen and (min-width: 768px) {
    .header {
        margin: 45px 0 40px 0;
    }

    .header__logo {
        width: 142px;
        height: 33px;
    }
}

@media screen and (min-width: 1024px) {
    .header__logo {
        margin: 0;
    }
} */