.root {
    background-color: #000;
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.header {
    height: 56px;
    margin-top: 28px;
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__logo {
    width: 103.74px;
    height: 24.4px;
    margin: 0 0 0 27px;
}

.header__line {
    opacity: 0.7;
    border-top: 1px solid #545454;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;
}

.profile__image {
    height: 120px;
    border-radius: 50%;
    margin-bottom: 26px;

}

.profile__name-container {
    margin: 0 auto 33px auto;
}

.profile__name {
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 7px;
    margin-left: 27px;
    margin-right: 6px;
    display: inline-block;
}

.profile__edit-button {
    width: 18px;
    height: 19px;
    border: 1px solid #FFFFFF;
    background: transparent;
    background-image: url(./images/profile-pen.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7.5px;
    display: inline-block;
    padding: 0;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

.profile__job {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
}

.profile__add-button {
    width: 282px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background: transparent;
    background-image: url(./images/profile-cross.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
}

.profile__add-button:hover {
    opacity: 0.6;
}

.profile__cross-image {
    width: 16px;
}

.gallery {
    margin: 0 0 50px 0;
    padding: 0;
    display: grid;
    grid-template-columns: 282px;
    justify-content: center;
    row-gap: 20px;
}

.gallery__card {
    list-style: none;
    border-radius: 10px;
    overflow: hidden;
    line-height: 0;
}

.gallery__image {
    width: 100%;
}

.gallery__caption {
    background-color: #fff;
    height: 79px;
    display: flex;
    justify-content: center;
}

.gallery__name {
    display: flex;
    width: 240px;
    justify-content: space-between;
}

.gallery__text {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    /* Чтобы длинный текст не налезал на лайк ограничим макс ширину */
    max-width: 210px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.gallery__like_disabled {
    background-image: url(./images/gallery-like_disabled.svg);
    background-repeat: no-repeat;
    width: 22px;
    background-position: center;
}

.footer {
    margin: 0 19px 36px 19px;
}

.footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #545454;
}

.popup {
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background: #00000080;
    display: none;
}

.popup_opend {
    display: flex;
}

.popup__close-button {
    position: absolute;
    right: 0;
    top: -36px;
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
    background-image: url(./images/popup-close-button.svg);
    background-repeat: no-repeat;
    background-size: 20px;
}

.popup__close-button:hover {
    opacity: 0.6;
}

.popup__container {
    position: relative;
    top: 0;
    left: 0;
    padding: 25px 22px;
    width: 282px;
    height: 322px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px #00000033;
    border-radius: 10px;
    opacity: 1;
}

.popup__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 68px;
}

.popup__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #00000020;
    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    padding: 0;
}

.popup__input:first-of-type {
    margin-bottom: 23px;
}

.popup__input:focus {
    outline: none;
    border-bottom: 1px solid #00000020;
    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    padding: 0;
}

.popup__submit {
    width: 100%;
    min-height: 46px;
    margin-top: 45px;
    background: #000000;
    border: none;
    border-radius: 2px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}

.popup__submit:hover {
    opacity: 0.8;
}












/* @media screen and (min-width: 768px) {
    .header {
        margin: 45px 0 40px 0;
    }

    .header__logo {
        width: 142px;
        height: 33px;
    }
}

@media screen and (min-width: 1024px) {
    .header__logo {
        margin: 0;
    }
} */