.profile__name-container {
    margin: 0 auto 33px auto;
}

@media screen and (min-width: 615px) {
    .profile__name-container {
        margin: 0 64px 0 0;
        width: 217px;
    }
}

@media screen and (min-width: 920px) {
    .profile__name-container {
        margin-right: 244px;
        width: 337px;
    }
}